**Lab | Revisiting Machine Learning Case Study**

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.
Instructions

1. Complete the following steps on the categorical columns in the dataset:
2. Check for null values in all the columns
3. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- OSOURCE - symbol definitions not provided, too many categories
- ZIP CODE - we are including state already
- Identify columns that over 85% missing values

4. Remove those columns from the dataframe
5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

6. Note that there are a few null values in the column. We will first replace those null values using the code below:
- print(categorical['GENDER'].value_counts())
- categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [4]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv("C:/Users/jw156/Ironhack/Day35/Morning/Activities/data_7.01_activities/learningSet.csv")
data.shape

(95412, 481)

### 1. Categories

In [6]:
data_cat = data.select_dtypes(np.object)

In [7]:
data_cat.isna().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

In [8]:
def filter_nulls(df, perc = .50):
  ''' This function gets a dataframe, inspects the percentage of null values in each column 
      and returns a list of those columns which has a percentage above the threshold value 
      provided by the user. A default percentage value of 25% is assumed unless another value
      is provided in the function arguments.
      Inputs: 
        df: a dataframe to inspec
        [perc]: percentage of null values in each column
      Outputs:
        list of columns which have a percentage of null values above the specified thershold.
  '''
  nulls_percent_df = pd.DataFrame(df.isna().sum()/len(df)).reset_index()  
  nulls_percent_df.columns = ['column_name', 'nulls_percentage']
  columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>perc]
  drop_columns_list = list(columns_above_threshold['column_name'])
  return drop_columns_list

In [9]:
filter_nulls(data_cat, 0)

['GEOCODE2']

In [10]:
data.columns

Index(['ODATEDW', 'OSOURCE', 'TCODE', 'STATE', 'ZIP', 'MAILCODE', 'PVASTATE',
       'DOB', 'NOEXCH', 'RECINHSE',
       ...
       'TARGET_D', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'CLUSTER2', 'GEOCODE2'],
      dtype='object', length=481)

In [11]:
# Drop - OSOURCE, ZIP CODE, Identify columns that over 85% missing values

In [12]:
list_to_drop = filter_nulls(data, .85)

In [13]:
list_to_drop.append('OSOURCE')
list_to_drop.append('ZIP')

In [14]:
list_to_drop

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23',
 'OSOURCE',
 'ZIP']

### 4. Remove those columns from the dataframe

In [15]:
data = data.drop(columns=list_to_drop)

### 5.Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [16]:
print(data['GENDER'].value_counts())
data['GENDER'] = data['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
A        2
C        2
Name: GENDER, dtype: int64

In [21]:
def clean_gender(df):
    '''This function will checkout the column 'GENDER' from a given dataframe 
       and it will replace the NA's or blankds by "other"
       Input:
         df: dataframe to perform the cleanup
       Output:
         df: dataframe with the 'GENDER' column values according to the new specficications.
    ''' 
        
    df2 = df.copy()
    df2['GENDER'] = np.where(df2['GENDER'].isin(['F','M']),df2['GENDER'],"other")

    return df2

In [22]:
data = clean_gender(data)

In [23]:
data.GENDER.unique()

array(['F', 'M', 'other'], dtype=object)

In [26]:
data = data[data.GENDER != 'F']

In [27]:
data = data[data.GENDER != 'M']

In [ ]:
data.GENDER